body{ /* JD: 12 */
	background-color: DarkGray; /* JD: 6 */
}

.header {
	margin: 0px;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 15px;
	color: white;
}

h3 {
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: 20px;
	color: white;
}

#play {
	padding: 10px;
}

.tableChar{ /* JD: 12 ...couple more times below, too */
	background-color: whitesmoke;
}

.opening {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.boxed{
	width: 700px;
	height: 500px;
	overflow: auto;
	border: 2px solid black;
}

.features{
	width: 300px;
	height: 500px;
	float: right;
}

.rendered .features {
	display: inline-block;
}